@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
    margin : 0;
    padding:0;
    box-sizing: border-box;
}

:root {
    --primary-color : #EF4444;
}

body{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

/* misc */
.margin-2rem{
    margin: 2rem;
}

/* para */
.desc{
    font-weight: bold;
}

/* input */
#birth-date{
    border: 2px solid var(--primary-color);
    width: 20%;
    height:40px;
    border-radius: 0.5rem;
}
/* Image div */

.img-div{
    display : none;
    position: absolute;
    top: 45%;
    left:0;
    right:0;
}

.img-div img{
    width: 15%;
    height: 15%;
}

/* button */
#submit-btn{
        background-color: var(--primary-color);
        border: none;
        border-radius: 0.5rem;
        padding: 1rem 2rem;
        color: white;
        font-size: large;
        margin: 1rem 0;
}
/* output */
#output{
    font-weight: bold;
    font-size: larger;
    margin: 1rem 0;
}

/* footer*/

footer{
    position: absolute;
    bottom:0;
    right: 0;
    left: 0;
}
footer a{
    padding: 1rem 1rem;
}

footer i{
    color: var(--primary-color);
    font-size: 2rem;
}